/* Keyboard div */
.grid-board {
    margin-top: 15px;
    justify-content: center;
    transform-origin: top center;
    padding: 20px;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    border: none;
    transition: all 0.3s ease;
}


.grid-board.hidden {
    transform: scale(0);
    opacity: 0;
}

.grid-row {
    display: flex;
    justify-content: space-between;
}

.grid-key {
    background: var(--bg-tertiary);
    color: var(--text-primary);
    padding: 0;
    border-radius: 8px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    margin: 2px;
    align-items: center;
    justify-content: center;
    outline: none;
    font-family: "Poppins", sans-serif;
    transition: all 0.2s ease;
}

.grid-key.pressed {
    background-color: var(--button-hover);
    transform: translateY(1px);
    box-shadow: none;
}

.grid-key:hover {
    background-color: var(--button-hover);
}

.keyboard-settings-container {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    font-size: 18px;
    background: none;
    border: none;
}

.keyboard-toggle {
    border: none;
    background: none;
    font-family: "Poppins", sans-serif;
    align-items: center;
}