/* Themes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
    font-family: "Poppins", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameResult {
    margin: 10px;
}

.gameModeSelection {
    display: flex;
    flex-direction: row;
}

.gameMode {
    margin: 0px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.gameMode:hover {
    cursor: pointer;
    background-color: #afafaf;
}

/* Sample text group */
.word {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-family: monospace;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.text-container {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-align: justify;
    line-height: 40px;
    flex-wrap: wrap;
    pointer-events: none;
    user-select: none;
}

.text-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    height: 150px;
    overflow: hidden;
}

.word.lineDone {
    display: none;
}

.letter.highlight {
    background-color: gray;
    border-radius: 4px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.letter.excess {
    color: rgb(255, 123, 123);
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.letter.incorrect {
    color: red;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.letter.correct {
    color: green;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

/* Input group */
.form-group {
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 0%;
}

.input-field {
    width: 430px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 24px;
    margin-right: 5px;
    text-align: center;
    font-family: monospace;
}

.stat-box {
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    font-size: 20px;
}

/* Keyboard div */
.grid-board {
    margin-top: 15px;
    justify-content: center;
    transform: scale(1);
    transform-origin: top center;
}

.grid-row {
    display: flex;
    justify-content: space-between;
}

.grid-key {
    background: #eee;
    padding: 0;
    border-radius: 8px;
    width: calc(650px / 14);
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ccc;
    margin: 2px;
    align-items: center;
    justify-content: center;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.grid-key.pressed {
    background-color: #ccc;
    border-color: #aaa;
}

/* .input-field {
  width: 0;
  height: 0;
  opacity: 0;
  border: none;
  padding: 0;
  margin: 0;
} */
